[submodule "third_party/base03"]
	path = third_party/base03
	url = https://github.com/cloudpeak/base03.git
[submodule "third_party/quark"]
	path = third_party/quark
	url = https://github.com/cloudpeak/quark.git
[submodule "third_party/zcontext"]
	path = third_party/zcontext
	url = https://github.com/cloudpeak/zcontext.git
