[submodule "third_party/zcontext"]
	path = third_party/zcontext
	url = https://github.com/cloudpeak/zcontext.git
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
	branch = lts_2026_05_26
[submodule "third_party/base"]
	path = third_party/base
	url = https://github.com/cloudpeak/base
	branch = main
